.icon2,
.title2 {
  position: relative;
}
.icon2 {
  width: 360px;
  height: 268.24px;
}
.title2 {
  letter-spacing: 0.02em;
}
.description2 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  width: 380px;
}
.no-betting-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-family: Poppins;
}
